{% extends 'base-template.html' %}
{% block content %}
<div id="content">
  <form class="" action="{% if bill %}edit-bill{% else %}add-new-bill{% endif %}" method="post">
    <div class="">
      <h1>Paycheck_id:{{paycheck}}</h1>
      <h1>{% if bill %}EDIT BILL{% elif paycheck%}ADD NEW BILL TO PAYCHECK{% else %}ADD NEW BILL{% endif %}</h1>
      <input type="hidden" name="_id" value="{% if bill %}{{ bill._id}}{% endif %}">
      <input required type="text" name="name" value="{% if bill %}{{ bill.name }}{% endif %}">
      <input pattern="\d*.\d{2}" required type="text" name="ammount" value="{% if bill %}{{ bill.ammount }}{% endif %}">
      <input required type="date" name="due-date" value="{% if bill %}{{ bill.due_date }}{% else %}{{ today }}{% endif %}">
      <textarea name="notes" rows="4" cols="40">{% if bill %}{{ bill.notes }}{% endif %}</textarea>
      <select name="paycheck_id" id="">
        {% if paycheck %}
          <option {{ paycheck._id }} selected  value="{{ paycheck._id }}">
          {{ paycheck.name }}, {{ paycheck.date_paid }}
          </option>
        {% endif %}
        <option value=""></option>
        {% for paycheck in paychecks %}
          {% if bill %}
            <option {{ paycheck._id}} selected  value="{{ paycheck._id }}">{{ paycheck.name }}, {{ paycheck.date_paid }}</option>

          {% else %}
            <option {{ paycheck._id}} value="{{ paycheck._id }}">{{ paycheck.name }}, {{ paycheck.date_paid }}</option>
          {% endif%}

        {% endfor %}
      </select>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
