{% extends 'base-template.html' %}
{% block content %}
<div id="content">
  <form class="" action="{% if bill %}edit-bill{% else %}add-new-bill{% endif %}" method="post">
    <div class="">
      <h1>{% if bill %}EDIT BILL{% else %}ADD NEW BILL{% endif %}</h1>

      <input type="hidden" name="_id" value="{% if bill %}{{ bill._id}}{% endif %}">
      <input required type="text" name="name" value="{% if bill %}{{ bill.name }}{% endif %}">
      <input pattern="\d*.\d{2}" required type="text" name="ammount" value="{% if bill %}{{ bill.ammount }}{% endif %}">
      <input required type="date" name="due-date" value="{% if bill %}{{ bill.due_date }}{% else %}{{ today }}{% endif %}">
      <textarea name="notes" rows="4" cols="40">{% if bill %}{{ bill.notes }}{% endif %}</textarea>
      <select name="paycheck_id" id="">
        {% if paycheck %}
          <option {{ paycheck[0]._id }} selected  value="{{ paycheck[0]._id }}">
            {{ p_check.name }}, {{ p_check.date_paid }}
          </option>
        {% endif %}
        <option value=""></option>
        {% for p_check in paychecks %}
          {% if bill %}
            <option {{ p_check._id}} selected  value="{{ p_check._id }}">{{ p_check.name }}, {{ p_check.date_paid }}</option>

          {% else %}
            <option {{ p_check._id}} value="{{ p_check._id }}">{{ p_check.name }}, {{ p_check.date_paid }}</option>
          {% endif%}

        {% endfor %}
      </select>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
