{% extends 'base-template.html' %}
{% block content %}


{% for paycheck in paychecks %}
  <div class="container columns">
    <div class="column  notification is-link">
      <table id="paycheck-info" class="table">
        <tr>
          <th>Name</th>
          <th>Ammount</th>
          <th>Paid Date</th>
          <th>Notes</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
        <tr>
          <td>{{ paycheck.name }}</td>
          <td>{{ paycheck.ammount }}</td>
          <td>{{ paycheck.date_paid }}</td>
          <td>{{ paycheck.notes }}</td>
            <td>
              <a href="/edit-paycheck-form?_id={{ paycheck._id }}">
                <ion-icon size="large" style="color:blue;" name="create-outline"></ion-icon>
              </a>
          </td>
          <td>
            <a id="{{ paycheck._id }}" href="/delete-paycheck?_id={{ paycheck._id }}">
              <ion-icon size="large" style="color:red;" name="close-circle-outline"></ion-icon>
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="column is-fluid notification has-background-success">
      <table id="bills" class="table">
        <tr>
          <th>Bill</th>
          <th>Ammount</th>
          <th>Remove</th>
          <th>Edit</th>
          <th>
            <a href="/add-new-bill-form?paycheck-id={{ paycheck._id }}">
              <ion-icon size="large" style="color:green;" name="add-circle-outline"></ion-icon>
            </a>
          </th>
        </tr>
        {% for bill in paycheck.bills%}
          <tr>
            <td>
                <li>
                  {{ bill.name }}
                </li>
            </td>
            <td>
                <li>
                  ${{ bill.ammount }}
                </li>
            </td>
            <td>
                <a href="/remove-bill?_id={{ bill._id }}">
                  <ion-icon size="large" style="color:red;" name="close-circle-outline"></ion-icon>
                </a>
            </td>
            <td>
              <a class="fas fa-home" href="/edit-bill-form?_id={{ bill._id }}">
                <ion-icon size="large" style="color:blue;" name="create-outline"></ion-icon>
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>


    <div class="column  mb-5 notification has-background-warning">
      <table id="balance" class="table">
        <tr>
          <th>Total Bills</th>
          <th>Bank</th>
          <th>Balance</th>
        </tr>
        <tr>
          {% set total = paycheck.bills|sum(attribute='ammount') %}
          <td>{{ total }}</td>
          <td>{{ paycheck.ammount }}</td>
          <td> {{ paycheck.ammount - total }}</td>
        </tr>
      </table>
    </div>


  </div>

{% endfor %}

{% endblock %}
