{% extends 'base-template.html' %}
{% block content %}
<div id="content">
  <form class="" action="add-new-bill" method="post">
    <div class="">
      <h1>Add New Bill</h1>
      <label for="name">Bill Name</label>
      <input type="text" name="name" value="">
      <label for="ammount">Bill Ammount</label>
      <input type="text" name="ammount" value="">
      <label for="due_date">Due Date</label>
      <input type="date" name="due_date" value="">
      <label for="notes">Notes</label>
      <textarea name="notes" rows="4" cols="40"></textarea>
      <label for="paychecks"></label>

      <select name="paycheck_id" id="">
        {% for paycheck in paychecks %}
          <h1>{{ paycheck.name }}</h1>
          <option value="{{ paycheck._id }}">{{ paycheck.name }}, {{ paycheck.date_paid }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
