<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href= "{{ url_for('static',filename='style.css') }}" /> -->
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>

    <section class="section">

      <div class="container">
        <div id="navebar" class="block">
          {% include "navbar.html" %}
        </div>

        <div class="notification is-link">


        </div>
        <div class="">
            {% block content %} {% endblock %}
        </div>
      </div>



        <div class="footer ">
          <div id="footer">
              {% block footer %}
              &copy; Copyright 2023 by <a href="http://domain.invalid/">you</a>.
              {% endblock %}

        </div>

      </div>

  </section>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='currencyFormater.js') }}"></script>
  </body>

</html>
