{% extends 'base-template.html' %}
{% block content %}
<div id="content">
  <form class="" action="edit-bill" method="post">
    <div class="">
      <h1>Edit Bill</h1>

      <input type="hidden" name="_id" value="{{ bill._id}}">
      <input type="text" name="bill-name" value="{{ bill.name }}">
      <input type="text" name="bill-ammount" value="{{ bill.ammount }}">
      <textarea name="notes" rows="4" cols="40">{{ bill.notes }}</textarea>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
