<nav class="navbar" role="navigation" aria-label="main navigation">


<div class="navbar-menu is-black">
  <a class="navbar-item active notification is-black" href="/">Home</a>
  <a class="navbar-item notification is-black" href="add-new-bill-form">Add New Bill</a>
  <a class="navbar-item notification is-black" href="add-new-paycheck-form">Add New Paycheck</a>
  <a class="navbar-item notification is-black" href="show-paychecks">Show Paychecks</a>
  <a class="navbar-item notification is-black" href="show-bills">Show Bills</a>

</div>
</nav>
