{% block content %}
<div id="content">
  <p>Enter New Item</p>
  <div id="input-section">

    <input type="text" id="add-new-item" value="">

  </div>

  <ul>
  {% for item in chore %}
      <li class="list-item">{{ item.item }}
        <span>
          {{ item.name }}
          {{ item.repeat }}
          {{ item.late }}
          {{ item.compleated }}
          {{ item.notes }}
          {{ item.assinged_to }}
          {{ item.date_entered }}
          {{ item.date_compleated }}




        </span>

      </li>

  {% endfor %}
  </ul>
  <button  id="del-checked-button"type="button" class="del-checked-button">Delete Checked</button>
</div>
<form class="" action="/add-test" method="post">
  <input type="text" name="name" value="name">
  <input type="checkbox" name="repeat" value="">
  <input type="checkbox" name="late" value="">
  <input type="checkbox" name="compleated" value="">
  <input type="text" name="notes" value="notes">
  <input type="text" name="assinged_to" value="assinged_to">
  <input type="submit" value="Submit">
</form>
{% endblock %}
