{% extends 'base-template.html' %}
{% block content %}
<div id="content">
  <h1>Bills Not Assigned</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Ammount</th>
      <th>Due Date</th>
      <th>Date Paid</th>
      <th>Is Paid</th>
      <th>Notes</th>
    </tr>
    {% for bill in bills %}
      {% if bill.paycheck_id == "" and bill.is_paid != True %}
        <tr>
              <td>{{ bill.name }}</td>
              <td>{{ bill.ammount }}</td>
              <td>{{ bill.due_date }}</td>
              <td>{{ bill.date_paid }}</td>
              <td>{{ bill.is_paid }}</td>
              <td>{{ bill.notes }}</td>

              <td><a href="/delete-bill?_id={{ bill._id }}">DEL</a></td>
              <td><a href="/edit-bill-form?_id={{ bill._id }}">Edit</a></td>
              <td><a href="/paid-bill?_id={{ bill._id }}">Paid</a></td>
        </tr>
        {% endif %}
      {% endfor %}
  </table>

  <h1>Bills Paid</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Ammount</th>
      <th>Due Date</th>
      <th>Date Paid</th>
      <th>Is Paid</th>
      <th>Notes</th>
    </tr>
    {% for bill in bills %}
      {% if bill.is_paid == True %}
        <tr>
              <td>{{ bill.name }}</td>
              <td>{{ bill.ammount }}</td>
              <td>{{ bill.due_date }}</td>
              <td>{{ bill.date_paid }}</td>
              <td>{{ bill.is_paid }}</td>
              <td>{{ bill.notes }}</td>

              <td><a href="/delete-bill?_id={{ bill._id }}">DEL</a></td>
              <td><a href="/unpay-bill?_id={{ bill._id }}">Unpay</a></td>
              
        </tr>
        {% endif %}
      {% endfor %}
  </table>
  <!-- <h2>Compleated Bills</h2>
  <table>

    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Assinged To</th>
      <th>Date Entered</th>
      <th>Date Compleated</th>
      <th>Delete</th>
      <th>Edit</th>
      <th>Compleated</th>
    </tr>

    {% for item in bill %}
      {% if item.compleated == True %}
      <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.notes }}</td>
            <td>{{ item.assinged_to }}</td>
            <td>{{ item.date_entered }}</td>
            <td>{{ item.date_compleated }}</td>
            <td><a href="/delete-bill?_id={{ item._id }}">DEL</a></td>
            <td><a href="/edit-bill-form?_id={{ item._id }}">Edit</a></td>
            <td><a href="/compleated-bill?_id={{ item._id }}">Compleated</a></td>
      </tr>
      {% endif %}
    {% endfor %}
  </table> -->



</div>
{% endblock %}
