{% extends 'base-template.html' %}
{% block content %}
<div class="container">
  <h2>Paychecks</h2>
  <table class="table">
    <thread>
        <tr>
          <th>Name</th>
          <th>Ammount</th>
          <th>Paid Date</th>
          <th>Notes</th>
          <th>Bills</th>
        </tr>
      </thread>
      <tbody>
      {% for paycheck in paychecks %}
        <tr>
              <td>{{ paycheck.name }}</td>
              <td>{{ paycheck.ammount }}</td>
              <td>{{ paycheck.date_paid }}</td>
              <td>{{ paycheck.notes }}</td>
              <td>
                <ul>
                  {% for bill in paycheck.bills%}
                  <a href="/edit-bill-form?_id={{ bill._id}}"><li>{{ bill }}</li></a>

                  {% endfor %}
                </ul>

              </td>

              <td><a href="/delete-paycheck?_id={{ paycheck._id }}">DEL</a></td>
              <td><a href="/edit-paycheck-form?_id={{ paycheck._id }}">Edit</a></td>

        </tr>

        {% endfor %}
      </tbody>
  </table>
  <!-- <h2>Compleated Bills</h2>
  <table>

    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Assinged To</th>
      <th>Date Entered</th>
      <th>Date Compleated</th>
      <th>Delete</th>
      <th>Edit</th>
      <th>Compleated</th>
    </tr>

    {% for item in bill %}
      {% if item.compleated == True %}
      <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.notes }}</td>
            <td>{{ item.assinged_to }}</td>
            <td>{{ item.date_entered }}</td>
            <td>{{ item.date_compleated }}</td>
            <td><a href="/delete-bill?_id={{ item._id }}">DEL</a></td>
            <td><a href="/edit-bill-form?_id={{ item._id }}">Edit</a></td>
            <td><a href="/compleated-bill?_id={{ item._id }}">Compleated</a></td>
      </tr>
      {% endif %}
    {% endfor %}
  </table> -->



</div>
{% endblock %}
